.navbar-nav{
    gap: 20px;
}
// index
main{
    background-color: black;
    color: yellow;
    font-family: 'Roboto', sans-serif;
    padding: 20px;

img{
    width: 100%;
    margin: 5px;
    padding: 5px;
}    
}

//BIOGRAFIA
div{
    background-color: black;
    color: yellow;
}
